In [2]:
import pandas as pd 
import random

df = pd.read_excel('Groups.xlsx')
df.head()

   SN                    Name
0   1  Iretioluwa Nayon-Segla
1   2      Kingsley Ezeakunne
2   3         Coker Oladipupo
3   4          Faith Idemudia
4   5          Esther Michael

In [45]:
names = list(df['Name'].copy().values)
random.Random(4).shuffle(names)
members = 4
final = {} 

for i in range((len(names) // members) + 1):
    group = names[i*members:(i*members + members)]
    for item in group: 
        final[item] = i + 1
print(final)

{'Daniel Omatta': 1, 'Samuel Joseph': 1, 'Folashade Ojo': 1, 'Mercy Akinwunmi': 1, 'Olumide Fakokunde': 2, 'Anthony Eze': 2, 'Abisola Apara': 2, 'Obianuju Nnadi': 2, 'Adetoun Adejobi': 3, 'Rotimi Bello': 3, 'Ekene Umegakwe': 3, 'Oyin-Miensine Fufeyin': 3, 'Victoria Ekefre': 4, 'David Ojo': 4, 'Chinedu Nwaozuzu': 4, 'Kingsley Ezeakunne': 4, 'Anthony Okafor': 5, 'Abiodun Allison': 5, 'Iretioluwa Nayon-Segla': 5, 'Olawale Fashola': 5, 'Coker Oladipupo': 6, 'Esther Michael': 6, 'Gbemisola Esho': 6, 'Chidiogo Ezekwem': 6, 'Temitope Oyelami': 7, 'Faith Idemudia': 7, 'Joseph Inwereegbu': 7, 'Oladimeji Solarin': 7}

In [29]:
df['Group'] = df['Name'].map(final)
df.head()

   SN                    Name  Group
0   1  Iretioluwa Nayon-Segla      5
1   2      Kingsley Ezeakunne      4
2   3         Coker Oladipupo      6
3   4          Faith Idemudia      7
4   5          Esther Michael      6

In [30]:
df.to_csv('groups_assigned.csv', index=False)

In [46]:
names = list(df['Name'].copy().values)
random.Random(5).shuffle(names)
members = 6
final = {} 

for i in range(len(names) // members + 1):
    group = names[i*members:(i*members + members)]
    final[i + 1] = group 
print(final)

{1: ['Esther Michael', 'Abiodun Allison', 'Victoria Ekefre', 'Coker Oladipupo', 'Obianuju Nnadi', 'Joseph Inwereegbu'], 2: ['Mercy Akinwunmi', 'Chinedu Nwaozuzu', 'Chidiogo Ezekwem', 'Abisola Apara', 'Anthony Okafor', 'Daniel Omatta'], 3: ['Gbemisola Esho', 'Anthony Eze', 'Ekene Umegakwe', 'Faith Idemudia', 'Oyin-Miensine Fufeyin', 'Kingsley Ezeakunne'], 4: ['Oladimeji Solarin', 'Samuel Joseph', 'Iretioluwa Nayon-Segla', 'Olumide Fakokunde', 'Olawale Fashola', 'Adetoun Adejobi'], 5: ['Folashade Ojo', 'Temitope Oyelami', 'David Ojo', 'Rotimi Bello']}

In [43]:
(len(names) // 6) + 1

5